---
---
// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

.feature-image .post-content form input[type="text"],.feature-image .post-content form input[type="email"] {
    width: 100%;
    display: block;
    padding: 0.5em;
    margin: 0 0 1em;
    border-radius: 6px;
    border: 1px solid #cfcfcf;
    box-shadow: none
}

.feature-image .post-content form input[type="submit"] {
    border-radius: 0.3em;
    border: 1px solid #1ABC9C;
    color: #1ABC9C;
    background-color: #fff;
    display: inline-block;
    margin: 1em 0;
    padding: 0.5em 0.75em
}

.feature-image .post-content form input[type="submit"]:hover {
    background: #1ABC9C;
    border: 1px solid #1ABC9C;
    color: #fff;
    text-decoration: none
}

.feature-image .post-content form textarea {
    border-radius: 6px;
    padding: 0.5em;
    margin: 0 0 1em;
    display: block;
    width: 100%;
    border: 1px solid #cfcfcf;
    box-shadow: none
}
